h1 { 
    color: #000000; 
    font-family: 'Trocchi', serif;
    font-size: 30px;
    text-align: center;
    font-weight: normal;
    line-height: 48px;
    margin: 0; }

h2 {
    color: #000000; 
    font-family: 'Source Sans Pro', sans-serif; 
    font-size: 16px; 
    font-weight: 400; 
    line-height: 32px; 
    margin: 0 0 24px; 
}
h3 {
    color: #000000; 
    font-family: 'Source Sans Pro'; 
    font-size: 30px; 
    font-weight: 900;
    margin: 0 0 24px; 
}
li {
    color: #000000; 
    font-family: 'Source Sans Pro', sans-serif; 
    font-size: 16px; 
    font-weight: 400; 
    line-height: 32px; 
    margin: 0 0 24px; 
}